tabHeader = """
<li class="eba-tab">
    <span class="eba-tab-icon"></span>
    <span class="eba-tab-text"></span>
</li>
"""

webui.injectTmpl( 'Tab','_headerTmpl',tabHeader )

tabContent = """
<li>
    <iframe src="{0}" scrolling="auto" allowtransparency="yes" frameborder="no" style="width:100%;height:100%;"></iframe>
</li>
"""

webui.injectTmpl( 'Tab','_contentTmpl',tabContent )