fileUperTmpl = """
<span data-role="fileuploader" data-ns="web.form" class="eba-buttonedit eba-htmlfile eba-fileupload">

  <span class="eba-buttonedit-border">
    <input type="text" class="eba-buttonedit-input" autocomplete="off">
    <label for="" class="eba-placeholder-lable"></label>
    <span class="eba-buttonedit-buttons">
      <span class="eba-buttonedit-close"></span>
      <span class="eba-buttonedit-button">浏览...</span>
    </span>
  </span>

</span>
"""

webui.injectTmpl( 'FileUploader','_rootTmpl',fileUperTmpl )