textarea = """
<span data-role="textarea" data-ns="web.form" class="eba-textbox eba-textarea">
    <span class="eba-textbox-border">
        <textarea class="eba-textbox-input" autocomplete="off"></textarea>
    </span>
</span>
"""

webui.injectTmpl( 'TextArea','_rootTmpl',textarea )