
cblRootTmpl = """
<div data-role="checkboxlist" data-ns="web.form" class="eba-checkboxlist">
    <table class="eba-checkboxlist-table" cellpadding="0" cellspacing="1">
      <tbody>
        <tr></tr>
      </tbody>
    </table>
</div>
"""

cblItemTmpl = """
<%
for (var i = 0,l = dataItems.length; i < l; i++) {
    var item = dataItems[i];
    var val = item[valueField];
    var txt = item[textField];
    var chk = item["checked"];
    var inputID = controlID + val;
%>
<td class="eba-checkboxlist-td">
    <div class="eba-checkboxlist-item">
      <input 
        id="<%=inputID %>"
        type="checkbox" 
        <%=chk ? 'checked="checked"' : '' %> 
        value="<%=val%>" 
        data-text="<%=txt%>" />
        
      <label for="<%= inputID %>"><%=txt%></label>
    </div>
</td>
<%}%>
"""

webui.injectTmpl( 'CheckBoxList','_rootTmpl',cblRootTmpl )
webui.injectTmpl( 'CheckBoxList','_itemTmpl',cblItemTmpl )