
password = """
<span data-role="password" data-ns="web.form" class="eba-textbox">
    <span class="eba-textbox-border">
        <input type="password" class="eba-textbox-input" autocomplete="off"/>
    </span>
</span>
"""

webui.injectTmpl( 'Password','_rootTmpl',password )