
chbx = """
<span data-role="checkbox" data-ns="web.form" class="eba-checkbox">
  <input type="checkbox" class="eba-checkbox-check" />
  <label></label>
</span>
"""

webui.injectTmpl('CheckBox','_rootTmpl',chbx)