spn="""
<span data-ns="web.form" data-role="spinner" class="eba-buttonedit eba-timespinner">
    <span class="eba-buttonedit-border">

        <input type="text" class="eba-buttonedit-input" autocomplete="off">

        <span class="eba-buttonedit-buttons">
            <span class="eba-buttonedit-close"></span>
            <span class="eba-buttonedit-button">
                <span class="eba-buttonedit-up"><i class="icon-caret-up"></i></span>
                <span class="eba-buttonedit-down"><i class="icon-caret-down"></i></span>
            </span>
        </span>

    </span>
</span>
"""

webui.injectTmpl( 'Spinner','_rootTmpl',spn )