tabs = """
<div data-role="tabs" class="eba-tabs">
    <div class="eba-tabs-header">
        <div class="eba-tabs-header-content"><ul></ul></div>
    </div>
</div>
"""

webui.injectTmpl( 'Tabs','_rootTmpl',tabs )
