
calRootTmpl = """
<div data-role="calendar" data-ns="web.form" class="eba-calendar">
  <input data-inner-role="mainview" />
  <input data-inner-role="monthview" />
</div>
"""
webui.injectTmpl( 'Calendar','_rootTmpl',calRootTmpl )