
buttonedit = """
<span data-role="buttonedit" data-ns="web.form" class="eba-buttonedit">
    <span class="eba-buttonedit-border">
        <input type="text" class="eba-buttonedit-input" autocomplete="off" />
        <span class="eba-buttonedit-buttons">
            <span class="eba-buttonedit-close"><i class="icon-remove"></i></span>
            <span class="eba-buttonedit-button"><i class="icon-caret-right"></i></span>
        </span>
    </span>
</span>
"""

webui.injectTmpl( 'ButtonEdit','_rootTmpl',buttonedit )